.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  /* background-color: rgb(67, 67, 67); */
  width: 90%;
  max-width: 25rem;
  padding: 3rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}