@font-face {
  font-family: Grico;
  src: url(../../../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  /* background-color: rgb(67, 67, 67); */
  width: 90%;
  max-width: 25rem;
  padding: 2rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.login-signup__link{
  font-family: Grico;
  background: none;
  border: none;
  cursor:pointer;
  text-decoration: underline;
}